body {
  text-align: center;
}
h3{
  margin:0;
  font-family:arial;
  font-size:110%;
}
.header{
    font-size:110%;
    color:white;
    background-color: #0B5FA5;
    height:30px;
}
.header a{
    color:white;
    font-size:110%;
    text-decoration:none;
}
.header2{
    font-size:120%;
    color:white;
}
.table_head{
    font-family:verdana;
    color:white;
    background-color: #25547B;
}

.table_head a{
    color:white;
	text-decoration:none;
}

.cell{
    height:35px;
    font-size:100%;
    font-family:arial;
    color:black;
}
.cell a{
    font-size:100%;
    font-family:arial;
    color:black;
    text-decoration:none;
}
.r1{
    background-color: #66A1D2;
}

.r2{
    background-color: #ffffff;
}

#r1{
    height:35px;
    font-size:100%;
    font-family:arial;
    color:black;
    background-color: #66A1D2;
}
#r1 a{
    font-size:100%;
    font-family:arial;
    color:black;
    text-decoration:none;
}
#r2{
    height:35px;
    font-size:100%;
    font-family:arial;
    color:black;
    background-color: #ffffff;
}
#r2 a{
    font-size:100%;
    font-family:arial;
    color:black;
    text-decoration:none;
}
form {
    margin: 0;
    padding: 0;
}
.uploadFile{
    padding: 10px 0px 10px 0px;
}
.error{
    font-size:105%;
    font-family:verdana;
    color:red;
}
.message span{
    font-size:100%;
    font-family:verdana;
    background-color:#F6BC5D;
    align:center;
    text-align:center;
    padding:2px 4px 2px 4px;
}
.message{
    margin-bottom:4px;
}
.newFolder{
    display:none;
}
#upload_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
   width:400px;
}

.uploadifyProgress {
	background-color: #FFF;
	margin-top: 8px;
	width: 97%;
}
.uploadifyProgressBar {
	background-color: #A3C7D8;
	width: 1px;
	height: 5px;
}
#loader {
  display:none;
}

#container{
  width:94%;
  margin: 0 auto;
  text-align:center;
}
#container h3{
  padding-bottom:4px;
}
.config{
  font-family:verdana;
}
#head{
  width:100%;
  height:80px;
  font-family:verdana;
}
#head a{
  color:black;
}
.title1{
  font-size:130%;
  text-decoration:none;
}
#headright {
  font-size:90%;
  padding-right:6px;
}
#headright a{
  text-decoration:none;
}
#headright a:hover{
  text-decoration:underline;
}  
#filetree{
  width:25%;
  min-width:200px;
  height:700px;
  float:left;
  margin-right:1%;
}
#treecontainer{
  font-family:arial;
  font-size:80%;
  margin-top:10px;
  height:610px;
  overflow:auto;
}
#tree{
  margin-top: 10px;
  margin-left: 20px;
}
#tree a{
  text-decoration:none;
}
#tree td{
  padding-top:4px;
}
.links{
  padding-top: 5px;
  padding-left: 6px;
  line-height: 1.5em;
  text-align:left;
}
.links a{
  font-family:verdana;
}
#filetable{
  width:72%;
  height:700px;
  float:left;
  margin-left:1.2%;
}
#filetable a{
  
}
.toolbar{
  width:100%-6px;
  height:27px;
  text-align:left;
  padding-top:3px;
  padding-left:4px;
  background-color:#CCCCCC;
  background-image:url('images/toolbar.png');
  background-repeat:repeat-x;
}
.toolbar button{
  margin-left:3px;
  margin-right:3px;
}
.breadcrumbs{
  font-size:90%;
  font-family:verdana;
  height:22px;
  width:100%-0px;
  text-align:left;
  padding:3px 8px 0px 8px;
  background-color:#CCCCCC;
}
.breadcrumbs a{
  text-decoration:none;
  font-weight:bold;
}
#filecontainer{
  height:600px;
  overflow:auto;
}
.filecontainer2{
  height:618px;
}
.item {
  width:100%-8px;
  height:50px;
  text-align:left;
  border-bottom:2px solid #CCCCCC;
  padding:4px 4px 4px 4px;
  max-height:50;
}
.item-hover{
  background-color:#DDDDDD;
}
.filename{
  font-family:arial;
  font-size:90%;
  font-weight:bold;
}
.filename a{
  color:#000000;
  text-decoration:none;
}
.fileinfo{
  font-family:verdana;
  font-size:70%;
  height:20px;
}
.download{
  margin-right:10px;
}
.share{
  margin-right:20px;
}
.filespace{
  padding-top:15px;
  width:100%;
  height:60px;
  float:left;
}
.freespace{
  width:100%;
  font-family:verdana;
  font-size:85%;
}
#freeSpaceBar{
  width:300px;
  height:20px;
}

.logs{
  height:620px;
  overflow:auto;
}
.logContainer{
  width:97%;
  margin:0 auto;
  text-align:center;
}
.logFooter{
  text-align:left;
}

.text{
  font-family:verdana;
  font-size:110%;
  line-height:1.7em;
}
.text a{
  color:black;
}

#forgot a{
  color:blue;
  text-decoration:none;
  font-family:verdana;
  font-size:90%;
}
#forgot a:hover{
  text-decoration:underline;
  color:blue;
}
.loaderDisplayNone{
  display:none;
}